<%- include('partials/header') %>

  <main id="error-container">
    <h1>404</h1>
    <p>Page non trouvée</p>
    <button class="btn-container btn-error"><a href="/">Retour vers l'accueil</a></button>
  </main>

<%- include('partials/footer') %>