<%- include('partials/header') %>

  <section id="product">
    <article>
      <img src="../images/coffees/295432730.png" alt="Nicaraguan Maragogipe">
      <div>
        <h2>Nicaraguan Maragogipe</h2>
        <p><strong>Description:</strong> Café avec des notes de fruits, une acidité vive et un corps plein.</p>
          <p><strong>Référence:</strong> 691550753</p>
          <p><strong>Origine:</strong> Nicaragua</p>
          <p><strong>Prix au kilo:</strong> 28.60 €</p>
          <p><strong>Caractéristique principale:</strong> Fruité</p>
          <p><strong>Disponible:</strong> Non</p>
      </div>
    </article>
    <a href="/catalog" class="btn-container btn-homepage">Retour au catalogue</a>
  </section>

<%- include('partials/footer') %>