<%- include('partials/header') %>

  <section>
    <div class="coffee-item">
      <div class="coffee-list-image">
        <img src="images/coffees/691550753.png" alt="coffee beans">
      </div>
      <h2>Nicaraguan Maragogipe</h2>
      <div class="coffee-list__p">
        <p><strong>Description:</strong> Café avec des notes de fruits, une acidité vive et un corps plein.</p>
        <p><strong>Référence:</strong> 691550753</p>
        <p><strong>Origine:</strong> Nicaragua</p>
        <p><strong>Prix au kilo:</strong> 28.60 €</p>
        <p><strong>Caractéristique principale:</strong> Fruité</p>
        <p><strong>Disponible:</strong> Non</p>
      </div>
    </div>
  </section>

<%- include('partials/footer') %>