<%- include("partials/header") %>

  <section id="shop-container">
    <div class="shop-container__text">
      <h1 class="shop-container__title">Notre boutique</h1>
      <p class="shop-container__p">Passez nous voir ou laissez-nous un message :</p>
    </div>

    <div class="shop-image">  
      <img src="https://www.w3schools.com/w3images/map.jpg">
    </div>
      
    <div class="shop-form">
      <form action="" method="GET" class="shop-form__input">
        <label for="fname">Prénom</label>
        <input type="text" id="fname" name="firstname" placeholder="Votre prénom">
        <label for="lname">Nom</label>
        <input type="text" id="lname" name="lastname" placeholder="Votre nom">
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Votre message" style="height:170px"></textarea>
        <input type="submit" value="Envoyer" class="btn-container">
      </form>
    </div>
  </section>

<%- include('partials/footer') %>